/* style_acc.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

header {
    background-color: #4c4d4e;
    color: #ffffff;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    margin-left: 5px;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
    font-size: 20px;
    font-weight: bold;
}

nav ul li a {
    color: #333;
    text-decoration: none;
}

section {
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #4c4d4e;
    color: #ffffff;
    padding: 10px;
    text-align: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 90px; /* Adjust the width to match the size of your logo */
    height: auto;
    margin-right: 10px;
}

ul li {
    font-size: 23px;
  }

  #awards {
    
    background-color: rgb(235, 235, 177);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: rgb(0, 0, 0);
    font-weight: bold;
  }

  #certifications {
    background-image: url("./images/certif1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 23px;
  }

  #education {
    background-image: url("./images/edu-fd3.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 23px;
  }
  
/* Contact Form CSS */
#contact {
    background-color: #f2f2f2;
    padding: 40px;
  }
  
  #contact h2 {
    color: #333;
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  .footer--left {
    display: flex;
    align-items: center;
  }
  
  .icons a {
    color: #333;
    text-decoration: none;
    margin-right: 10px;
  }
  
  .icons a:hover {
    color: #007bff;
  }
  
  .icons i {
    transition: color 0.3s ease;
  }
  
  .footer--left h4 {
    margin: 0;
    font-size: 18px;
  }
  
  .footer--left h4 a {
    color: #007bff;
    text-decoration: none;
  }
  
  .footer--left h4 a i {
    margin-left: 5px;
    transition: transform 0.3s ease;
  }
  
  .footer--left h4 a:hover i {
    transform: translateX(5px);
  }
  
/* mediaqueries ************************************************************************/
/* ******************************************************************************** */


@media only screen and (max-width: 992px) {

  .experience--part{
      display: block;
  }

  .row{
      font: 1em sans-serif;
      display: block;
  }
  .col-sm-7 {
      width:100%;
  }

  .col-sm-5 {
      width:100%;
  }
  .experience--part__right{
      width: 100%;
  }

  .experience--part__left{
      width: 100%;
      text-align: center;
      margin-bottom: 50px;
  }

  .experience--part__rightCards{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 40px;
      flex-wrap: wrap;
  }

  

  .work--title{
      display: block;
  }

  .work--title div{
      width: 100% !important;
  }

  .work--title div p{
      margin-bottom: 30px;
      margin-top: 10px;
  }

  .work--cards{
      display: flex;
      align-items: center;
      justify-content: center; 
      flex-wrap: wrap;
      margin-top: 80px;
  }

  .work--card{
      width: 47%;
  }

  .testimonials--card{
      width: 47%;
  }

  .testimonials .container{
      display: flex;
      align-items: center;
      justify-content:center;
      flex-wrap: wrap;
  }

  .footer--left{
      width: 50%;
  }

  .footer--right{
      width: 50%;
  }
}

@media only screen and (max-width: 767px){

  h3{
      font-size: 24px;
  }

  .experience--part__rightCard{
      width: 45%;
  }

  .experience{
      /* background-color:#7562e010; */
      padding: 60px 0 60px 0;
      /* height: 90vh; */
      margin-top:0px;
  }

  .partnerss{
      background-color: #fafcfe;
      height: inherit !important;
      padding: 60px 0 60px 0;
  }

  #footer .container{
      display: block;
  }

  

  .footer--left{
      width: 100%;
  }

  .footer--right{
      margin-top: 30px;
      width: 100%;
  }
}

@media only screen and (max-width: 576px) {
  .work--card{
      width: 100%;
  }

  .testimonials--card{
      width: 100%;
  }

  .experience--part__rightCard{
      width: 100%;
  }

  .experience{
      /* background-color:#7562e010; */
      padding: 60px 0 60px 0;
      /* height: 90vh; */
      margin-top:-100px;
  }
  
  

}

@media (min-width: 576px)
{
  .container {
      max-width: 720px;
  }
}


@media (min-width: 1200px)
{


  .container {
      max-width: 1140px;
  }

}
@media (min-width: 992px)
{
  .container {
      max-width: 960px;
  }
}


@media (min-width: 768px)
{

  .container {
      max-width: 1140px;
  }
}





/* end media ********************************************************************************************/
/* ********************************************************************************** */
